name: Pull Request CI
on:
    push:
      branches:
        - '*'
        - '!master'
    pull_request:
      branches: [master]
jobs:
  pull_request_ci:
    runs-on: ubuntu-latest
    steps:
    - name: echo
      run: |
        echo ${{ github.repository_owner }}
        echo ${{ github.repository }}
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - uses: bahmutov/npm-install@v1
    - name: Run check
      run: npm run check
    - name: Run test
      run: npm t
